@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #2d0106; /* Rahaa Maroon */
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}